In [3]:
import pandas as pd
currency = pd.read_csv('../data/Korea_CER.csv')
tweets = pd.read_csv('../data/realDonaldTrump_tweets.csv')

In [16]:
currency.columns = ['date', 'currency']
tweets.head()
currency.head()
# tweets.iloc[0:3]
# pd.to_datetime(tweets.created_at)
# pd.to_datetime(currency.)

         DATE    DEXKOUS
0  2016-08-01  1106.1500
1  2016-08-02  1108.3500
2  2016-08-03  1116.2100
3  2016-08-04  1111.9900
4  2016-08-05  1114.5400